.colorbg {
    background-color: #4791ffd6;
}

.col-6:nth-child(4n+1),
.col-6:nth-child(4n+4),
.col-6:nth-child(4n+5),
.col-6:nth-child(4n+8),
.col-6:nth-child(4n+9) {
    background-color: #0067ffb8 !important;
}
