.container {
    margin-top: 20px;
  }
  
  h2, h4 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  ul {
    padding-left: 0;
    list-style-type: none;
  }
  
  li {
    margin-bottom: 10px;
  }
  