.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #488cf2 !important;
  color: white;
}

.navbar-brand {
  font-size: 1.5rem;
  color: white;
    font-weight: 700;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar-nav .nav-link i {
  font-size: 1.5rem;
}

.navbar-nav .nav-item.active .nav-link {
  color: white;
  font-weight: 700;
}
